<p id="notice"><%= notice %></p>

<h1 class="bioRhyme">Blog Posts</h1>



<div class="row">
  <% @blog_posts.each do |blog_post| %>

      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
          <div class="panel-heading">
            <%= blog_post.title %>
          </div>
        <div class="panel-body">
          <p><%= blog_post.user.username %></p> 
          <p ><%= blog_post.blog_entry %></p>
        </div>
          <div class="panel-footer">
          <%= link_to 'Show', blog_post %> |
          <%= link_to 'Edit', edit_blog_post_path(blog_post) %> |
          <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

